@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 95% 3fr 4fr 6fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'about'
  'footer';
}

h1{
  font-size: 4rem;
  line-height: 6rem;
}
h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

h6{
  font-size: 1.2rem;
}

header{
  background-image: url(./images/bgHeader.png);
  background-repeat: no-repeat;
  background-size:cover;  
  
  grid-area: header;
}

header p{
  font-size: 2.5rem ;
}

#button-github{
  width: 15%;
  margin-top: 10rem;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #CC3232;
  color: #fff;

  font-size: 1.5rem;
  font-weight: 800;
  transition: 0.5s;

}

#button-github:hover{
  border: 2px solid #CC3232;
  background: #fff; 
  color: #CC3232;
  transition: 0.5s;
}

main{
  grid-area: main;
  background-color: #161616;
  
}

.knowledge{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.knowledge p{
  font-size: 1.4rem;
}


.html img, .css img, .js img{
  max-width: 100%;
}

.html{
display: grid;
grid-template-columns: 30% auto;
grid-template-rows: 1fr 2fr;
column-gap: 10px;

grid-template-areas: 
'img html'
'img sobre';
}

.html img{ 
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.html p{
  grid-area: html;
  align-self: center;
  
  
}

.html span{
  grid-area: sobre;
  align-self: center;
  justify-self: center;
  color: #707070;
  font-weight: 300;
  font-size: 1.1rem;
  margin-right: 0.9rem;
}

.css{
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 1fr 2fr;
  column-gap: 10px;
  

  grid-template-areas: 
  'img css'
  'img sobre';
}

.css img{ 
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.css p{
  grid-area: css;
  
}

.css span{
  grid-area: sobre;
  align-self: center;
  justify-self: center;
  color: #707070;
  font-weight: 300;
  font-size: 1.1rem;
  margin-right: 0.9rem;
}

.js{
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 1fr 2fr;
  column-gap: 10px;
  
  grid-template-areas: 
  'img js'
  'img sobre';
  
}

.js img{ 
  grid-area: img;
  align-self: center;
  justify-self: center;
}

.js p{
  grid-area: js;
  
}

.js span{
  grid-area: sobre;
  align-self: center;
  justify-self: center;
  color: #707070;
  font-weight: 300;
  font-size: 1.1rem;
  margin-right: 0.9rem;
}

section{
  background-color: #2b2b2b ;
  color: #fff;
  grid-area: about;
}

.sobre{
  display: flex;
  justify-content: space-between;
  gap: 10rem;

  margin-top: 5rem;
  margin-bottom: 8rem;

}

.about{
  width: 50%;
}

.about h6{
  color: #CC3232;
}

.about p{
  color: #707070;
  font-weight: 300;
  padding-right:15px;
  font-size: 1.1rem;
}
.skills{
  width: 50%;
  margin-top: 4rem;
  font-size:1.2rem ;
}


.progress{
  height: 0.3rem;  
}
.progress-color{
  color: #CC3232;

}

footer{
  background-color: #161616; 
  grid-area: footer;
}



.social{
  color: #707070;
  
}
.social img{
  width: 7.5rem;
  margin-bottom: 1rem;
}

.social a{
  text-decoration: none;
  color: #707070;
  font-size: 1.2rem;
  line-height: 3.37rem;
}

.social a:hover{
  text-decoration: underline;
}

form{
  width: 50%;
}

form input, textarea{
  font-size: 1.1rem;
  color: #707070;
  background-color: #161616;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.9rem;
}

textarea{
  resize: none;
}

form button{
  border: 2px solid #fff;
  background-color: #CC3232;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  transition: 0.5s;
}

form button:hover{
  background-color: #fff;
  color: #CC3232;
  transition: 0.5s;
  border:2px solid #CC3232;
}

/* Responsive */

@media (max-width: 1200px){
  #button-github{
    width: 25%;
  }
}

@media (max-width: 1024px){
  .knowledge{
    flex-direction: column;
    width: 80%;
  }

  .knowledge img{
    min-width: 70%;

  }

  .html, .css, .js{
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px){
  #button-github{
    width: 28%;
  }
}








